<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="<% settings.charset %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title><% title %></title>
    <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
    <% if file.is_previewable_as_image %>
    <meta property="og:image" content="<% file.url_for_previewable_image %>"/>
    <% end %>
  </head>
  <body>
    <div id="page">
      <% content %>
    </div>
    <div id="footer">
      <h3>What's this</h3>

      <p>
        Pubtmp is a pbulic temporary directory for anyone to
        place their miscellnous items.  All users have equal
        rights to save some files here, as well as delete them.
      </p>

      <p>
        That's right. It's all public.
      </p>

      <h3>Join the Project</h3>
      <ul class="links">
        <li><a href="https://github.com/gugod/Pubtmp/">Source code</a></li>
        <li>Powered by <a href="http://perldancer.org/">Dancer 2</a> <% dancer_version %></li>
      </ul>
    </div>
  </body>
</html>
