body {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    background-color: #ddd;
    font-size: 13px;
    color: #333;
}

h1 {
    font-size: 28px;
    color: #000;
}

a  {color: #03c}
a:hover {
    background-color: #03c;
    color: white;
    text-decoration: none;
}

#page {
    background-color: #ddd;
    width: 100%;
    margin: auto;
    margin-left: auto;
    padding-left: 0px;
}

#content {
    background-color: white;
    border: 3px solid #aaa;
    border-top: none;
    padding: 25px;
    width: auto;
    margin-right: 200px;
}

#sidebar {
    float: right;
    width: 175px;
}

#header {
    padding-left: 75px;
    padding-right: 30px;
}


#header {
    background-image: url("/images/folder.svg");
    background-repeat: no-repeat;
    background-position: top left;
    height: 64px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
    color: #888;
    font-weight: normal;
    font-size: 16px;
}

#sidebar ul {
    margin-left: 0;
    padding-left: 0;
}
#sidebar ul h3 {
    margin-top: 25px;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#sidebar li {
    list-style-type: none;
}
#sidebar ul.links li {
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    margin: 1.2em 0 0.6em 0;
}

p {
    line-height: 1.5em;
    margin: 1.6em 0;
}

#footer {
    clear: both;
    padding-top: 2em;
    text-align: center;
    padding-right: 160px;
    font-family: sans-serif;
    font-size: 10px;
}

#file-list table {
    width: 100%;
}


.file-preview-image img {
    width: auto;
}
.file-preview-image img {
    width: 100%;
}
